<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel"icon" type="image/png" sizes="32x32" href="favicon_io /favicon-32x32.png">
    <link rel="icon" href="favicon_io /favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>

    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class=navbar-item" href="">
                <img src="favicon_io /logo-via-logohub.png"  height= "52" width="260">
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/"> Home </a>
                <a class="navbar-item" href="https://github.com/talha-ahsan"> GitHub</a>
                <a class="navbar-item" href="https://Linkedin.com/in/talha-ahsan"> LinkedIn </a>
                <a class="navbar-item"> Blog -COMING SOON- </a>
            </div>
        </div>
    </nav>
    <section class="hero is-fullheight is-info">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-two-thirds has-text-centered">
                        <h1 class="title is-size-1">Talha</h1>
                        <h1 class="title is-size-1">Ahsan</h1>
                    </div>
                    <div class="column has-text-centered">
                        <h1 class="title is-size-3">Full Stack Developer</h1>
                        <h1 class="title is-size-3">Data Engineer</h1>
                        <h1 class="title is-size-3">Interested in BioTech</h1>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </section>

    <div class="her0 is-primary">
        <div class="hero-body">
            <div class="container">
                    <div class="columns">
                            <div class="column">
                                <div class= "card">
                                    Test
                                </div>
                            </div>
                            <div class="column">
                                <div class= "card">
                                    Test2
                                </div>
                            </div>
                            <div class="column">
                                <div class= "card">
                                    Test3
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
  </body>
</html>