<h1 class="is-size-1">Hello World / A quick dive into this Website</h1>
<h2 class="is-size-2"> Kemal, Crystal, and why I did what I did </h2>
<p>
    Hello reader! This is my personal / professional blog, and is something that I hope I can do weekly updates on moving forwards. 
</p>