<h1 class="title">Hello World / A quick dive into this Website</h1>
<h2 class="subtitle"> Kemal, Crystal, and why I did what I did </h2>
<br/>
<p>
    Hello reader! This is my personal / professional blog, and is something that I hope I can do weekly updates on moving forwards. 
    Today I'm finally biting the bullet 
</p>