<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Talha Ahsan </title>
    <link rel"icon" type="/image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" href="/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/mystyles.css">
    <link rel="stylesheet" href="/css/svgStyles.css">
  </head>
  <body>

    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class=navbar-item" href="">
                <img src="/icons/android-chrome-192x192.png"  height= "52" width="52">
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/"> Home </a>
                <a class="navbar-item" href="https://github.com/talha-ahsan"> GitHub</a>
                <a class="navbar-item" href="https://Linkedin.com/in/talha-ahsan"> LinkedIn </a>
                <a class="navbar-item" href="/blog"> Blog </a>
            </div>
        </div>
    </nav>
    <section class="hero is-fullheight brickSvg">
        <div class="hero-body">
            <div class="container has-text-centered">
            <div class="columns">
                <div class="column is-three-fifths is-offset-one-fifth">
                    <div class="box">
                        <div class="content has-text-black">
                            <%= content %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="content has-text-centered has-text-white">
            <p>
                Opinions and content posted here are my own, and not representative of any current, past, and future employers
            </p>
            <p>
                I generated the top background using <a href="SVGBackgrounds.com" class="has-text-primary">SVGBackgrounds.com</a>! 
            </p>
            <p>
                Back-end done using <b>Crystal</b> and <b>Kemal</b>
            </p>
            <p>
                Questions or Comments? Message me on <a href="https://Linkedin.com/in/talha-ahsan" class="has-text-primary">LinkedIn!</a> 
            </p>
        </div>
    </footer>
</body>