<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Talha Ahsan </title>
    <link rel"icon" type="/image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" href="/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/mystyles.css">
  </head>
  <body>

    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class=navbar-item" href="">
                <img src="/icons/android-chrome-192x192.png"  height= "52" width="52">
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/"> Home </a>
                <a class="navbar-item" href="https://github.com/talha-ahsan"> GitHub</a>
                <a class="navbar-item" href="https://Linkedin.com/in/talha-ahsan"> LinkedIn </a>
                <a class="navbar-item" href="/blog"> Blog </a>
            </div>
        </div>
    </nav>
    <section class="hero is-fullheight is-primary">
        <div class="hero-body">
            <div class="container has-text-centered">
            <div class="columns">
                <div class="column is-three-fifths is-offset-one-fifth has-text-left">
                    <%= content %>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>Opinions and content posted here are my own, and not representative of any current, past, and future employers</p>
            <p>
                Styling based on <strong>Bulma</strong> with the <a href="https://www.color-hex.com/color-palette/74819"> Carnival Hangover Color Pallette</a>
            </p>
            <p>
                Back-end done using <strong>Crystal</strong> and <strong>Kemal</strong>
            </p>
            <p>
                Hosted on DigitalOcean
            </p>
            <p>
                Questions or Comments? Message me on <a href="https://Linkedin.com/in/talha-ahsan">LinkedIn!</a>
            </p>
        </div>
    </footer>
</body>
<style>
    html {background-color: #551956;}

</style>