<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Talha Ahsan </title>
    <link rel"icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/mystyles.css">
  </head>
  <body>

    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class=navbar-item" href="">
                <img src="icons/android-chrome-192x192.png"  height= "52" width="52">
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/"> Home </a>
                <a class="navbar-item" href="https://github.com/talha-ahsan"> GitHub</a>
                <a class="navbar-item" href="https://Linkedin.com/in/talha-ahsan"> LinkedIn </a>
                <a class="navbar-item"> Blog </a>
            </div>
        </div>
    </nav>

</body>